@font-face {
  font-family: "vazir";
  src: url("../assets/fonts/Vazirmatn-FD-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "vazir";
  src: url("../assets/fonts/Vazirmatn-FD-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "vazir";
  src: url("../assets/fonts/Vazirmatn-FD-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "vazir", sans-serif;
}

ul {
  list-style-type: none;
}
input,
button {
  font-family: inherit;
}

.custom-radio-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.custom-radio-container input[type="radio"] {
  display: none;
}

.custom-radio {
  width: 20px;
  height: 20px;
  border: 2px solid #00bfa5;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  margin-left: 10px;
  transition: all 0.3s ease;
}

.custom-radio::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #00bfa5;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease;
}

.custom-radio-container input[type="radio"]:checked + .custom-radio::after {
  transform: translate(-50%, -50%) scale(1);
}

.custom-radio-container:hover .custom-radio {
  border-color: #00796b;
}

.custom-radio-label {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* mobile */

.container_from-group {
}
.contianer_form {
  background-color: blue;
}
.container {
  background-color: #f5f5f5;
  min-height: 100vh;
  padding: 5px 16px;
}
.container_title {
  padding-top: 16px;
  color: #37474f;
}

.container_btn {
  border: none;
  width: 100%;
  background-color: #00bfa5;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  border-radius: 4px;
  padding: 12px 0px;
  cursor: pointer;
}
.container_btn-bottom {
  position: fixed;
  background-color: #ffff;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 16px;
  margin-top: 50rem;
}


@media (min-width: 768px) {
  .container_main {
    width: 700px;
    margin: 0 auto;
  }
  .container {
    background-color: #f0f0f0;
  }
  input {
    background-color: #f7f7f7;
    color: #37474f;
    font-weight: 700;
  }
  .container {
    background-color: #f0f0f0;
  }
}

@media (min-width: 1024px) {
  .container_btn-bottom {
    padding: 20px;
  }

  .container_title {
    font-size: 15px;
    margin: 0 auto;
    line-height: 32px;
    padding-bottom: 7px;
  }
}

@media (min-width: 1280px) {
  .container_main {
    width: 800px;
    margin: 0 auto;
  }

  .container_btn-bottom {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 12px 0px; */
  }
  .container_btn {
    width: 20%;
    /* padding: 12px 0px; */
  }
}
